<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dungeons.ca.esdkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_elastic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings">
        </activity>

        <service
            android:name=".ServiceManager"
            android:exported="false"
            android:label="ESD Service Manager">
        </service>

        <receiver
            android:name=".ServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="Restart service manager if stopped!"
            android:permission="">
            <intent-filter>
                <action android:name = "dungeons.ca.esdKotlin.ServiceBroadcastReceiver"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>
